<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Resumen del Mes</h1>
    <div class="btn-toolbar mb-2 mb-md-0 d-none">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
                Share
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
                Export
            </button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi">
                <use xlink:href="#calendar3" />
            </svg>
            This week
        </button>
    </div>

</div>

<div>
    <p>Total soles: <%= @total_pen %></p>
    <p>Total dólares: <%= @total_usd %></p>
    <p>Total: <%= @total_usd * 3.78 + @total_pen %></p>
</div>
<%# <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> %>

<div style="width: 300px;">
    <canvas class="my-4 w-100" id="myPieChart" width="200" height="200"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    document.addEventListener('turbo:load', () => {
        // Code to initialize your chart goes here
        // console.log('Turbo load event triggered');
        renderChart();
    });


    function renderChart() {
        // Pie chart example
        if (document.getElementById('myPieChart')) {
            const ctx = document.getElementById('myPieChart').getContext('2d');

            myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: <%= @categories.to_s.html_safe %>,
                    datasets: [{
                        label: 'Total Amount',
                        data: <%= @transactions_by_category %>,
                        backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#E74C3C', '#4BC0C0', '#9B59B6', '#6ab740'],
                        borderColor: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff'],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Gastos por categoría'
                        }
                    }
                }
            });
        }
    }
</script>
