<div class="row mt-4">
    <div class="col-md-6">
        <div class="pf-card">
            <h2 class="title">
                Gastos principales del mes
            </h2 class="title">

            <div id="main" style="width: 450px; height: 350px;"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pf-card">
            <h2 class="title">
                ¿Qué % de tu presupuesto has gastado?
            </h2 class="title">
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <p class="d-none">Total soles: <%= @total_pen %></p>
        <p class="d-none">Total dólares: <%= @total_usd %></p>
        <p class="d-none">Total: <%= @total_usd * 3.78 + @total_pen %></p>

        <table class="table">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Frecuentes</th>
                <th scope="col">Extraordinarios</th>
                <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Gastos</th>
                    <td><%= @common_sum.round(2) %></td>
                    <td><%= @rare_sum.round(2) %></td>
                    <td><%= (@common_sum + @rare_sum).round(2) %></td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">Categoría</th>
                <th scope="col">Presupuesto</th>
                <th scope="col">Gasto</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% @user_categories.each do |category| %>
                    <% spending = TransactionsByCategory.new(current_user, category).call %>
                    <tr>
                        <th scope="row"><%= t("activerecord.attributes.transaction.categories.#{category.name}") %></th>
                        <td><%= category.budget %></td>
                        <td><%= spending %></td>
                        <td style="color: <%= (category.budget - spending).positive? ? 'green' : 'red' %>;">
                            <%= (category.budget - spending).round(2) %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        
    </div>
</div>

<h2>
    Últimos movimientos
    <%= link_to 'Ver todos', transactions_path, class: "btn btn-sm btn-primary" %>
</h2>

<p><%= @transactions_by_category.to_json.html_safe %></p>

<%= render "transactions_table", transactions: @transactions %>

<script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>

<script type="text/javascript">
    // Initialize the echarts instance based on the prepared dom
    var myChart = echarts.init(document.getElementById('main'));

    // Specify the configuration items and data for the chart
    var option = {
        title: null,
        tooltip: {
            trigger: 'item'
        },
        legend: null,
        series: [
            {
                name: 'Monto gastado',
                type: 'pie',
                radius: '50%',
                data: <%= @transactions_by_category.to_json.html_safe %>,
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

      // Display the chart using the configuration items and data just specified.
      myChart.setOption(option);
</script>

<script>
    document.addEventListener('turbo:load', () => {
        // Code to initialize your chart goes here
        // console.log('Turbo load event triggered');
        renderChart();
    });


    function renderChart() {
        // Pie chart example
        if (document.getElementById('myPieChart')) {
            const ctx = document.getElementById('myPieChart').getContext('2d');

            myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: <%= @categories.to_s.html_safe %>,
                    datasets: [{
                        label: 'Total Amount',
                        data: <%= @transactions_by_category %>,
                        backgroundColor: <%= @colors.to_s.html_safe %>,
                        borderColor: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff'],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Gastos por categoría'
                        }
                    }
                }
            });
        }
    }
</script>
