<div style="max-width: 900px; margin: auto;">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="pf-card">
                <h2 class="title">
                    Gastos principales del mes
                </h2 class="title">

                <div style="width: auto; height: 291px;">
                    <div id="spending_chart" style="width: 450px; height: 400px; transform: translate(-18px, -47px);"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pf-card" style="position: relative;">
                <h2 class="title">
                    ¿Qué % de tu presupuesto has gastado?
                </h2 class="title">

                <span style="position: absolute; font-size: 75px;">
                    <%= @budget_percentage %>%
                </span>

                
                <% if @difference.positive? %>
                    <span style="position: absolute; width: 204px; font-size: 12px; bottom: 28px; background: #ffff002e; padding: 10px 14px; border-radius: 18px; z-index: 1; color: #00000091;">
                        * Si gastas más de S/.<%= number_to_currency(@difference, precision: 0, unit: '') %> este mes empezarás a consumir tu meta de ahorros
                    </span>
                <% else %>
                    <span style="position: absolute; width: 204px; font-size: 12px; bottom: 28px; background: #ffff002e; padding: 10px 14px; border-radius: 18px; z-index: 1; color: #00000091;">
                        * Sobrepasaste tu presupuesto de S/.<%= number_to_currency(@budget, precision: 0, unit: '') %>, estas consumiendo de ahorros
                    </span>
                <% end %>
                

                <div style="width: auto; height: 291px;">
                    <div id="budget_chart" style="width: 450px; height: 400px; transform: translate(41px, -47px);"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p class="d-none">Total soles: <%= @total_pen %></p>
            <p class="d-none">Total dólares: <%= @total_usd %></p>
            <p class="d-none">Total: <%= @total_usd * 3.78 + @total_pen %></p>

            <table class="table d-none">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Frecuentes</th>
                    <th scope="col">Extraordinarios</th>
                    <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Gastos</th>
                        <td><%= @common_sum.round(2) %></td>
                        <td><%= @rare_sum.round(2) %></td>
                        <td><%= (@common_sum + @rare_sum).round(2) %></td>
                    </tr>
                </tbody>
            </table>

            <table class="table d-none">
                <thead>
                    <tr>
                    <th scope="col">Categoría</th>
                    <th scope="col">Presupuesto</th>
                    <th scope="col">Gasto</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @user_categories.each do |category| %>
                        <% spending = TransactionsByCategory.new(current_user, category).call %>
                        <tr>
                            <th scope="row"><%= t("activerecord.attributes.transaction.categories.#{category.name}") %></th>
                            <td><%= category.budget %></td>
                            <td><%= spending %></td>
                            <td style="color: <%= (category.budget - spending).positive? ? 'green' : 'red' %>;">
                                <%= (category.budget - spending).round(2) %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            
        </div>
    </div>

    <div class="pf-card mb-4">
        <h2 class="title">
            Transacciones Recientes <i class="bi bi-chevron-right"></i>
        </h2 class="title">

        <%= render "transactions_table", transactions: @transactions %>
    </div>
    <p style="font-size: 12px;">*para el cálculo de estos gráficos los dólares están siendo pasados a soles</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>

<script type="text/javascript">
    // Initialize the echarts instance based on the prepared dom
    var myChart = echarts.init(document.getElementById('spending_chart'));

    // Specify the configuration items and data for the chart
    var option = {
        title: null,
        tooltip: {
            trigger: 'item'
        },
        legend: null,
        series: [
            {
                name: 'Monto gastado (S/.)',
                type: 'pie',
                radius: '50%',
                data: <%= @transactions_by_category.first(5).to_json.html_safe %>,
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

      // Display the chart using the configuration items and data just specified.
      myChart.setOption(option);
</script>


<script type="text/javascript">
    // Initialize the echarts instance based on the prepared dom
    var myChart = echarts.init(document.getElementById('budget_chart'));

    // Specify the configuration items and data for the chart
    var option = {
        title: null,
        tooltip: {
            trigger: 'item'
        },
        legend: null,
        labelLine: {
            show: false
        },
        series: [
            {
                name: 'Soles',
                type: 'pie',
                label: {
                    show: false,
                    position: 'center'
                },
                radius: '50%',
                data: [{ "value": <%= @budget - @difference %>, "name": "Gastado" }, { "value": <%= @difference %>, "name": "Restante" }],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

      // Display the chart using the configuration items and data just specified.
      myChart.setOption(option);
</script>
