<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Resumen del Mes</h1>
    <div class="btn-toolbar mb-2 mb-md-0 d-none">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
                Share
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
                Export
            </button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi">
                <use xlink:href="#calendar3" />
            </svg>
            This week
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p class="d-none">Total soles: <%= @total_pen %></p>
        <p class="d-none">Total dólares: <%= @total_usd %></p>
        <p class="d-none">Total: <%= @total_usd * 3.78 + @total_pen %></p>

        <table class="table">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Frecuentes</th>
                <th scope="col">Extraordinarios</th>
                <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Gastos</th>
                    <td><%= @common_sum %></td>
                    <td><%= @rare_sum %></td>
                    <td><%= @common_sum + @rare_sum %></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="col-md-6">
        <div style="width: 400px;">
            <canvas class="my-4 w-100" id="myPieChart" width="200" height="200"></canvas>
        </div>
    </div>
</div>

<h2>
    Últimos movimientos
    <%= link_to 'Ver todos', transactions_path, class: "btn btn-sm btn-primary" %>
</h2>

<%= render "transactions_table", transactions: @transactions %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener('turbo:load', () => {
        // Code to initialize your chart goes here
        // console.log('Turbo load event triggered');
        renderChart();
    });


    function renderChart() {
        // Pie chart example
        if (document.getElementById('myPieChart')) {
            const ctx = document.getElementById('myPieChart').getContext('2d');

            myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: <%= @categories.to_s.html_safe %>,
                    datasets: [{
                        label: 'Total Amount',
                        data: <%= @transactions_by_category %>,
                        backgroundColor: <%= @colors.to_s.html_safe %>,
                        borderColor: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff'],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Gastos por categoría'
                        }
                    }
                }
            });
        }
    }
</script>
