<% content_for :title, "Tus movimientos" %>

<h1>Tus movimientos</h1>

<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col" class="d-none">ID</th>
                <th scope="col">Día</th>
                <th scope="col">Código</th>
                <th scope="col">Banco</th>
                <th scope="col">Cargo</th>
                <th scope="col">Destino</th>
                <th scope="col">Categoría</th>
                <th scope="col">Recurrencia</th>
                <th scope="col">Descripción</th>
                <th scope="col">Moneda</th>
                <th scope="col">Monto</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% @transactions.each do |transaction| %>
                <tr>
                    <td class="d-none"><%= transaction.id %></td>
                    <td><%= transaction.transaction_date %></td>
                    <td><%= transaction.transaction_code %></td>
                    <td><%= transaction.issuer %></td>
                    <td><%= transaction.source %></td>
                    <td><%= transaction.destination %></td>
                    <td><%= transaction.category %></td>
                    <td><%= transaction.frequency %></td>
                    <td><%= transaction.description %></td>
                    <td><%= transaction.currency %></td>
                    <td><%= transaction.amount / 100.to_f %></td>
                    <td><%= link_to "editar", edit_transaction_path(transaction) %></td>
                    <td>  <%= button_to "borrar", transaction, method: :delete, data: { turbo_confirm: 'deseas borrar?' } %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= link_to "Agregar movimiento", new_transaction_path %>
