<% content_for :title, "Emails" %>

<div style="max-width: 900px; margin: auto;">
    <div class="pf-card mt-4">
        <h2 class="title">
            Añade un correo desde el que enviarás tu información
        </h2 class="title">

        <div>
            <%= form_with(model: @user_email) do |form| %>
                <% if @user_email.errors.any? %>
                    <div class="alert alert-danger" role="alert">
                        <p><%= pluralize(@user_email.errors.count, "error") %> ha impedido guardar este correo:</p>

                        <ul style="margin: 0;">
                            <% @user_email.errors.each do |error| %>
                            <li><%= error.full_message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <div class="row mt-1">
                    <div class="col-md-7 placeholder-grey">
                        <%= form.text_field :address, class: "form-control placeholder-grey", placeholder: "Coloca tu correo", style: "background-color: #F6F6F6; border: none; font-size: 26px; border-radius: 15px;" %>
                    </div>
                    <div class="col-md-5">
                        <%= form.submit "Guardar", style: "background-color: #F1F2F4; border: none; padding: 5px 29px; font-size: 17px; margin: 7px 0 0 15px; border-radius: 19px; box-shadow: 3px 3px 5px #d4d4d4;" %>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
    <div class="pf-card mt-4">
        <h2 class="title">
            Correos registrados con éxito
        </h2 class="title">

        <% current_user.user_emails.each do |user_email| %>
            <div style="display: flex; margin-bottom: 10px;">
                <div style="font-size: 16px; color: #9f9f9f; width: 303px;"><%= user_email.address %></div>
                <div style="font-size: 16px; background-color: #F6F6F6; border-radius: 18px; padding: 0; width: 162px; text-align: center;">
                    <i class="bi bi-check-circle-fill" style="color: #39B54A; margin-right: 13px; font-size: 19px;"></i>Activo
                </div>
                <div>
                    <%= button_to user_email, method: :delete, class: "btn btn-link", style: "margin-left: 25px; padding: 0;", data: { turbo_confirm: 'deseas borrar?' } do %>
                        <i class="bi bi-trash3" style="font-size: 21px; transform: translate(0px, -2px); color: black;"></i>
                    <% end %>
                </div>
            </div>
        <% end %>

        <div style="display: flex; margin-bottom: 10px;" class="d-none">
            <div style="font-size: 16px; color: #9f9f9f; width: 303px;">arturogonzalez@gmail.com</div>
            <div style="font-size: 16px; background-color: #F6F6F6; border-radius: 18px; padding: 0; width: 162px; text-align: center;">
                <i class="bi bi-x-circle-fill" style="color: #FF3B3A; margin-right: 13px; font-size: 19px;"></i>Desconectado
            </div>
            <div><i class="bi bi-trash3" style="font-size: 21px; margin-left: 25px; transform: translate(0px, -2px);"></i></div>
        </div>
    </div>
    <div class="pf-card mt-4 mb-4">
        <h2 class="title">
            ¿No sabes cómo crear un filtro de direccionamiento?
        </h2 class="title">

        <iframe width="650" height="350" src="https://www.youtube.com/embed/UhzdeGjLJ78" style="margin-top: 15px;">
        </iframe>
    </div>
</div>